textarea {
  max-width: 400px;
  height: 150px;
  padding: 10px;
  line-height: 2;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  display: flex;
  align-items: center;
}

.text {
  max-width: 400px;
}

.counter {
  visibility: hidden;
}

.counter.is-visible {
  visibility: visible;
}